/* Styles */
body {
  height: 100vh;
  background: linear-gradient(325deg,rgb(176, 208, 255) 0,rgb(237, 241, 245) 100%);
}

#app {
  font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  background: -webkit-linear-gradient(#d350db, teal);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  min-width: 320px;
  max-width: 960px;
  margin: 0 auto;
  padding-left: 60px;
}

nav {
  padding: 20px 0 20px 0;
}

nav a {
  padding: 5px;
  font-size: 18px;
}

.jumbotron {
  margin-top: 20px;
  padding-left: 0 !important;
  background-image: url('../images/fire-mind-icon.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
  background-color: initial !important;
}

.Playground {
  display: grid;
  grid-template-columns: 40% 10% 30% 20%;
}

.grid-1 {
  display: flex;
  justify-content: space-between;
}

.grid-1, .grid-2, .grid-3 {
  align-items: center;
  display: flex;
}



.grid-1 div,
.grid-2,
.grid-3 input,
.grid-4 input
{
  margin: 0 auto;
}

.grid-1,
.grid-2 div,
.grid-3 div{
  /* padding: 4vh; */
  padding: 24px;
  font-family: 'Varela Round', sans-serif;
  font-size: 26px;
  letter-spacing: 0.1em;
  color: #e8e8e8;
  border: none;
  border-radius: 10px;
  outline: none;
  background: linear-gradient(45deg, #d350db, teal, #d350db);
  background-size: 400% 400%;
  box-shadow: 1vw 1vw 0 #b6c2e2;
  cursor: pointer;
  transition: all 0.3s ease;
  -webkit-text-fill-color: initial;
}

.grid-1:hover,
.grid-2 div:hover,
.grid-3 div:hover,
.btn.btn-primary.btn-lg:hover {
  animation: gradient 10s ease infinite;
  box-shadow: 0.2vw 0.2vw 0 #b6c2e2;
}

.btn.btn-primary.btn-lg {
  background: linear-gradient(45deg, #d350db, teal, #d350db);
  background-size: 400% 400%;
  transition: all 0.3s ease;
  box-shadow: 1vw 1vw 0 #b6c2e2;
  -webkit-text-fill-color: initial;
}


.grid-3 div {
  width: 90%;
}

.grid-3 div input {
  width: 100%;
  border: none;
  color: #e8e8e8;
  border-radius: 10px;
  padding-left: 8px;
  background: bottom;
  box-sizing: border-box;
}

.grid-3 div input:focus {
  outline: none !important;
  cursor: pointer;
}

.button {
  width: 100%;
  height: 80px;
  font-family: 'Varela Round', sans-serif;
  font-size: 26px;
  letter-spacing: 0.1em;
  color: #e8e8e8;
  border: none;
  border-radius: 10px;
  outline: none;
  background: linear-gradient(45deg, #d350db, teal, #d350db);
  background-size: 400% 400%;
  box-shadow: 1vw 1vw 0 #b6c2e2;
  cursor: pointer;
  transition: all 0.3s ease;
  grid-column-start: 6;
  -webkit-text-fill-color: initial;
}
.button:hover {
  animation: gradient 10s ease infinite;
  font-size: 10px;
  box-shadow: 0.2vw 0.2vw 0 #b6c2e2;
}

@keyframes gradient {
  50% {
    background-position: 100% 0;
  }
}

